 header{

background-color:gray;
padding: 10px;
text-align:center;



   }


   sidebar{

    height:100%;
    width:160%;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}



   

   body{
background-color:white;
margin-left:200px;
margin-right:200px;

   }

   
   Personal{

text-align:center;

}

Social{

    text-align:center;
}

Education{

    text-align:center;
}

Goals{
     padding:30px;
    text-align:justify;
    text-align-last:center;
}

Hobby{


    text-align:center;
}




image {
     width:100;
    border-radius:50%;
    height:100s;
}

foot{


    background-color:gray;
    padding: 10px;
    
   

}

overlay{

position:absolute;
bottom: 0;
left: 100;
right:0;
background-color:orange;
overflow:hidden;
width:0;
height:100%;
transition:.5s ease;


}

container{

    position:relative;
    width:50%
   }


  